html{
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 138, 139, 0.85) 0%, rgba(255, 191, 172, 0.85) 100%);
    background-attachment:fixed;
}

#container{
    background: radial-gradient(301.17% 150.36% at 50.04% -31.22%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 45px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    height:800px;
    width: 800px;
}

.navbar{
    display:flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

#logo{
    font-size: 30px;
    color: #D54546;
}

.navbottons{
    margin-left:auto;
    margin-right:5%;
}

.navbotton{
    margin-right:20px;
}

a{
    font-size: 18px;
    color: #7F7D7D;
    text-decoration:none;
}

#analyze{
    margin-left: 80px;
    padding: 10px 20px;
    font-size: 16px;
    color:#FFFFFF;
    background: linear-gradient(274.65deg, #D54546 1.05%, rgba(213, 69, 70, 0) 127.07%);
    border-radius: 15px;
}

#slogan{
    margin-left: 50px;
    width:400px;
    margin-top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 67px;
    color: #000000;
    line-height:150%;
}


#time{
    margin-top: 60px;
    margin-left: -50px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 97px;
    color: #000000;
}

.main-container{
    display: grid;
    grid-template-columns: auto auto;
}

#quick{
    margin-top: -60px;
    margin-left: 80px;
    background: linear-gradient(274.65deg, #D54546 1.05%, rgba(213, 69, 70, 0) 127.07%);
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 5px 50px;
    border-radius: 15px;
    font-family: Poppins;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}

#pic{
    margin-left: -1100px;
    margin-top: 370px;
    position: absolute; z-index: 1;
    zoom: 33%;
}

